body {
	margin: 0; 
	padding: 0;
	font-family: montserrat;
}

body{
	text-align: center;
}

img {
width: 1500px; /* Pas de breedte van de afbeelding aan naar wens */
height: auto; /* Behoud de aspect ratio van de afbeelding */
float: center; /* Plaats de afbeelding aan de rechterkant */
margin: 0px; /* Voeg wat marge toe voor een betere opmaak */
}

nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
	color: #ffffff;
    background: rgba(253, 185, 4, 0.868);
}
.logo {
	font-size: 25px;
	color: #ffffff;
	padding: 0 15px;
}
.menu ul li {
	display: inline-block;
	margin: 0 15px;
}
.menu ul li a {
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	font-family: montserrat;
	color: #fdfbfb;
	padding: 5px 15px;
}
  
/* Muis over menu kleur */
.menu ul li a:hover{
    background: rgb(0, 0, 0);
}

/* achtergrond kleur */
.header {
	height: 100vh;
	background: rgb(248, 242, 231)
}

/* Normale tekst pagina */
.script {
	color: #000000;
	position: absolute;
	top: 95%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-align: left;
}

.banner-text {
	color: rgba(253, 185, 4, 0.868);
	position: absolute;
	padding: 10px 20px;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	text-align: left;
			
} 
.banner-text h1 {
	font-size: 60px;
	margin: 0;
}
.banner-text p {
	margin: 15px 0 40px;
}
.banner-text button {
	background: rgb(253, 185, 4, 0.86);
	border: none;
	outline: none;
	color: #fff;
	padding: 10px 20px;
	font-size: 20px;
	font-family: montserrat;
	display: inline-block;
}
@media (max-width: 1000px) {
	nav {
		flex-direction: column;
		align-items: flex;
	}
	.menu ul {
		padding: 0;
	}
	.menu ul li {
		margin: 0 15px 0 0;
	}
	.socials {
		margin-top: 25px;
	}
	.banner-text {
		left: 40%;
		text-align: center;
		width: 70%;
	}
    .banner-text h1 {
        font-size: 50px;
    }
}
@media (max-width: 600px) {
	.logo {
		margin-top: 0;
		font-size: 17px;
	}
	nav {
		padding: 15px;
	}
	.menu ul li a {
		font-size: 10px;
        padding: 5px;
	}
	
	.banner-text {
		left: 40%;
		text-align: center;
		width: 80%;
	}
    .banner-text h1 {
        font-size: 18px;
    }
	.banner-text p {
		margin: 15px 0;
		font-size: 11px;
	}
    .banner-text button {
        font-size: 12px;
    }
}
